<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="parallax" style="background-image: url('../../assets/img/me.JPG')">
  <div class="parallax-heading">
    <span style="background-color: #111; padding: 10px; font-size: 25px">
      About Tom with Parallax
    </span>
  </div>
</div>

<div style="height: 250px;background-color: #42251e">
  <div class="row">
    <div class="col">
      <h3 style="text-align: center; padding: 25px;">
        My Interests
      </h3>
      <p style="text-align: center">
        Here below are some of my interests which I created with Parallax because why not. <br>
        I had the time and it makes it look cooler I think, even though it isn't 100% necessary
      </p>
    </div>
  </div>
</div>
<div class="parallax"
     style="background-image: url('https://cwsmgmt.corsair.com/pdp/k65-rgb-mini/assets/images/Corsair_iCue_Room_Rainbow_Explore_Static.jpg')">
  <div class="parallax-heading">
  <span style="background-color: #111; padding: 10px; font-size: 25px">
      Gaming
    </span>
  </div>
</div>

<div style="min-height: 250px; background-color: #172642">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="paragraph-text">
          I have been playing video games since I was just a kid! From Pokemon to League of Legends, I love video games.
          In fact, Video games is what got me into programming. The first time I was learning to program, it was
          actually
          to make my own game. Even though I have gotten older and don't have as much time for games as I used to, I
          still do enjoy
          playing games such as Hearthstone, Legends of Runterra, League of Legends, and more! I also enjoy building PCs
          and as you can
          tell by the image above, my preferred brand is Corsair.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="parallax"
     style="background-image: url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGd5bXxlbnwwfHwwfHw%3D&w=1000&q=80g')">
  <div class="parallax-heading">
  <span style="background-color: #111; padding: 10px; font-size: 25px">
      Fitness
    </span>
  </div>
</div>

<div style="min-height: 250px; background-color: rgba(34,34,40,0.55)">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="paragraph-text">
          I have always enjoyed running and working out since I first tried sports in middle school. I first got into
          pole Vaulting as a middle schooler and really enjoyed running.
          From there I really enjoyed short distance running and competed in more track sports from there. After high
          school, I did not compete in track sports
          but I found that I enjoy lifting weights. Now, I find it to be a very relaxing way to get away from the
          computer after a long day of work.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-heading">
  <div class="parallax"
       style="background-image: url('https://www.gofluent.com/blog/wp-content/uploads/2019/04/What-Langauge-Should-I-Learn.png')">
  <span style="background-color: #111; padding: 10px; font-size: 25px">
      Languages
    </span>
  </div>
</div>

<div style="min-height: 250px; background-color: rgba(25,40,59,0.55)">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="paragraph-text">
          I love learning languages. My love of learning languages started with my first interaction with German in
          middle school
          where I took all the way through high school and most of college. I even own a textbook for both German and
          Japanese which I love
          taking notes on and frequently reading. I want to continue to learn Japanese as my mother was born there and I
          also want to start
          learning Spanish as I have Spanish speaking friends.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-heading">
  <div class="parallax"
       style="background-image: url('https://media.cntraveler.com/photos/5e260c3488b8890009f87ca2/master/w_4500,h_3000,c_limit/Spain-adventure-GettyImages-535541291.jpg')">
  <span style="background-color: #111; padding: 10px; font-size: 25px">
    Explore the rest of this site!
    </span>
  </div>
</div>
