<div class="top-bottom-padding container">
  <h3 class="text-align-center">
    Education
  </h3>
  <hr>
  <h3 class="text-align-center">
    Experience
  </h3>
  <hr>
  <h3 class="text-align-center">
    Projects
  </h3>
  <hr>
  <app-modal-button modalId="testModal" buttonText="Open Test Modal"></app-modal-button>
  <app-modal-body modalId="testModal">
    <ng-container header>
      <h5 class="modal-title">
        Test Modal
      </h5>
    </ng-container>
    <ng-container body>
      <div>
        <p>
          Hello World!
        </p>
      </div>
    </ng-container>
    <ng-container footer>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </ng-container>
  </app-modal-body>
</div>

