/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: #303038;
  color: #ffffff;
}
